
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.navbar {

        background-color: black;
    }

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
  color: #E53935;
}

.nav.navbar-nav li a {
    color: white;
}

.nav.navbar-nav li a:hover {

color: #E53935;

}


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}


.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.addpad{

  padding-top: 25px;
}

.intro-section {
    /*height: 100%;*/
    padding-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    background: #fff;
}

.about-section {
    /*height: 100%;*/
    padding-top: 20px;
    text-align: center;
    background: #eee;
}

.contact-section {
    /*height: 100%;*/
    padding-top: 20px;
    text-align: center;
    background: #E53935;
    color: white;
}
