@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Open+Sans:400,400i,700,700i');
/*
Base Styles
*/
body {

    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;

}

h1{
  font-family: 'Open Sans', sans-serif;
}

p{

font-family: 'Nunito', sans-serif;

}

html {
    width: 100%;
    height: 100%;
}

/*
Navbar Styles
*/

.navbar {
  font-family: 'Open Sans', sans-serif;

        background-color: black;
    }

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
  color: #E53935;
}

.nav.navbar-nav li a {
    color: white;
}

.nav.navbar-nav li a:hover {

color: #E53935;

}

/*
Layout
*/

.about-section {
    /*height: 100%;*/
    padding-top: 20px;
    text-align: center;
    background: #eee;
}

.thanks{

  padding-top: 50px;

}


/*
Media Queries
*/


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}
